# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java навчання (Intellij IDEA) (Java Pro)\Homework3_DataBase_MySQL_Apartment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
